<header></header>

<h1> Admin Panel </h1>

<div ng-cloak="" class="tabsdemoDynamicHeight">
    <md-content>
        <md-tabs md-dynamic-height="" md-border-bottom="">
            <md-tab label="users list">
                <md-content class="md-padding">
                    <users-list></users-list>
                </md-content>
            </md-tab>
            <md-tab label="Edit User">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Tab Two</h1>
                    <p>Under Construction.</p>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
