


<div ng-controller="NavController">
    <ul class="nav nav-pills" role="tablist">
        <li ng-class="{ active: isActive('/')}"><a href="#/">Home</a></li>
        <li ng-class="{ active: isActive('/login')}" ng-show="!authenticated"><a href="#/login"">LogIn</a></li>
        <li ng-class="{ active: isActive('/signup')}" ng-show="!authenticated"><a href="#/signup"">SignUp</a></li>
        <li ng-class="{ active: isActive('/admin_panel')}" ng-show="authenticated.role === 'admin'"><a href="#/admin_panel">Admin Panel</a></li>
        <li ng-show="authenticated"><a href="" ng-click="logout()">LogOut</a></li>
    </ul>
</div>