<header></header>
<h1>SignUp page</h1>
<div  ng-controller="SignUpController">
<div class="alert alert-danger" ng-show="error">
    There was a problem logging in. Please try again.
</div>
<form role="form" ng-submit="signup()">
    <div class="form-group">
        <label for="username">Username:</label> <input type="text"
                                                       class="form-control" id="username" name="username" ng-model="credentials.username"/>
    </div>
    <div class="alert alert-danger" ng-show="username_missing_error">
        Please fill this field.
    </div>
    <div class="form-group">
        <label for="password">Password:</label> <input type="password"
                                                       class="form-control" id="password" name="password" ng-model="credentials.password"/>
    </div>
    <div class="alert alert-danger" ng-show="password_missing_error">
        Please fill this field.
    </div>
    <div class="form-group">
        <label for="rep_password">Please Repeat Password:</label> <input type="password"
                                                       class="form-control" id="rep_password" name="rep_password" ng-model="credentials.rep_password"/>
    </div>
    <div class="alert alert-danger" ng-show="rep_password_missing_error">
        Please fill this field.
    </div>
    <div class="alert alert-danger" ng-show="pass_error">
        Passwords do not match.
    </div>
    <div class="alert alert-danger" ng-show="pass_len_error ">
        Password is too small.
    </div>
    <div class="form-group">
        <label for="first_name">First Name:</label> <input type="text"
                                                           class="form-control" id="first_name" name="first_name" ng-model="credentials.first_name"/>
    </div>
    <div class="alert alert-danger" ng-show="first_name_missing_error">
        Please fill this field.
    </div>
    <div class="form-group">
        <label for="last_name">Last Name:</label> <input type="text"
                                                         class="form-control" id="last_name" name="last_name" ng-model="credentials.last_name"/>
    </div>
    <div class="alert alert-danger" ng-show="last_name_missing_error">
        Please fill this field.
    </div>
    <div class="form-group">
        <label for="email">Email Address:</label> <input type="text"
                                                         class="form-control" id="mail" name="mail" ng-model="credentials.mail"/>
    </div>
    <div class="alert alert-danger" ng-show="mail_missing_error">
        Please fill this field.
    </div>
    <div class="alert alert-danger" ng-show="mail_error">
        Please enter a valid email address.
    </div>
    <div class="form-group">
        <label for="phone_number">Phone Number:</label> <input type="text"
                                                         class="form-control" id="phone_number" name="phone_number" ng-model="credentials.phone_number"/>
    </div>
    <div class="alert alert-danger" ng-show="phone_number_missing_error">
        Please fill this field.
    </div>
    <div class="alert alert-danger" ng-show="phone_number_error">
        Please enter a valid phone number.
    </div>
    <div class="form-group">
        <label for="latitude">Latitude:</label> <input type="text"
                                                               class="form-control" id="latitude" name="latitude" ng-model="credentials.latitude"/>
    </div>
    <div class="alert alert-danger" ng-show="latitude_missing_error">
        Please fill this field.
    </div>
    <div class="form-group">
        <label for="longtitude">Longtitude:</label> <input type="text"
                                                               class="form-control" id="longtitude" name="longtitude" ng-model="credentials.longtitude"/>
    </div>
    <div class="alert alert-danger" ng-show="longtitude_missing_error">
        Please fill this field.
    </div>
    <div class="form-group">
        <label for="afm">ΑΦΜ:</label> <input type="text"
                                                           class="form-control" id="afm" name="afm" ng-model="credentials.afm"/>
    </div>
    <div class="alert alert-danger" ng-show="afm_missing_error">
        Please fill this field.
    </div>
    <div class="form-group">
        <label for="role">Role:</label>
        <select class="form-control" id="role" name="role" ng-model="credentials.role">
            <option selected="guest" value="seller">I am a guest</option>
            <option value="buyer">I am a buyer</option>
            <option value="seller">I am a seller</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
</div>